<div class="model fade" role="dialog" id="appointmentInput" data-backdrop="static" data-keyboard="false">
    <div class="model-dialog">
        <div class="model-content">
            
        </div>
    </div>
</div>
