@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="h2 mt-5" >Welcome to the Appointment Scheduling App</div>
    <p class="align-content-lg-between">This is the booking section for a new Appointment Schduling App</p>
</div>